adf/pipeline/pl_brz_sales_from_sql_inc_dev.json
{
	"name": "pl_brz_sales_from_sql_inc_dev",
	"properties": {
		"activities": [
			{
				"name": "act_lkp_last_watermark_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetWatermark]",
						"storedProcedureParameters": {
							"source_table": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_source_table",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_stg_sql_sales_dev",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "act_lkp_current_watermark_sql",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_lkp_last_watermark_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(Date_ID) AS current_watermark\nFROM @{pipeline().parameters.p_source_table}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_stg_sql_sales_dev",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "act_fail_last_watermark_lookup",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "act_lkp_last_watermark_sql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Watermark lookup failed."
				}
			},
			{
				"name": "act_fail_current_watermark_lookup",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "act_lkp_current_watermark_sql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Watermark lookup failed."
				}
			},
			{
				"name": "act_if_new_data_exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "act_lkp_current_watermark_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(\n    activity('act_lkp_last_watermark_sql').output.firstRow.last_watermark_value,\n    activity('act_lkp_current_watermark_sql').output.firstRow.NewMaxValue\n))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "act_set_no_new_data_status",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_run_status",
								"value": {
									"value": "'NO_NEW_DATA'",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_sp_log_pipeline_status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_set_no_new_data_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_LogRun]",
								"storedProcedureParameters": {
									"error_message": {
										"value": {
											"value": "NULL",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"source_table": {
										"value": {
											"value": "@pipeline().parameters.p_source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": {
											"value": "'NO_NEW_DATA'",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_sales_dev",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "act_copy_sql_to_brz_sales_inc",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT *\nFROM @{pipeline().parameters.p_source_table}\nWHERE @{pipeline().parameters.p_watermark_column} > \n'@{activity('act_lkp_last_watermark_sql').output.firstRow.last_watermark_value}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_stg_sql_sales_dev",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@pipeline().parameters.p_source_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_brz_sales_sql_inc_dev",
									"type": "DatasetReference",
									"parameters": {
										"p_directory": {
											"value": "@concat('sales/year=', substring(activity('act_lkp_current_watermark_sql').output.firstRow.last_watermark_value,0,4))",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@concat(\n    'sales_',\n    activity('act_lkp_current_watermark_sql').output.firstRow.last_watermark_value,\n    '.parquet'\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_sp_validate_new_records",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_copy_sql_to_brz_sales_inc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateWatermark]",
								"storedProcedureParameters": {
									"new_watermark_value": {
										"value": "",
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@pipeline().parameters.p_source_table",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_sales_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "act_sp_update_watermark_sales",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_copy_sql_to_brz_sales_inc",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_LogRun]",
								"storedProcedureParameters": {
									"error_message": {
										"value": {
											"value": "@activity('act_copy_sql_to_brz_sales_inc').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"source_table": {
										"value": {
											"value": "@pipeline().parameters.p_source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": {
											"value": "'FAILED'",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_sales_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "act_sp_prepare_load_metadata",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_sp_validate_new_records",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_LogRun]",
								"storedProcedureParameters": {
									"error_message": {
										"value": {
											"value": "NULL",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "@activity('act_copy_sql_to_brz_sales_inc').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"source_table": {
										"value": {
											"value": "@pipeline().parameters.p_source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": {
											"value": "'SUCCESS'",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_sales_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "act_fail_copy_sql_to_brz_sales_inc",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "act_sp_update_watermark_sales",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Copy activity failed. Check etl_run_log for details."
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_source_table": {
				"type": "string",
				"defaultValue": "source_cars_data"
			},
			"p_watermark_column": {
				"type": "string",
				"defaultValue": "Date_ID"
			}
		},
		"variables": {
			"v_run_status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "bronze"
		},
		"annotations": []
	}
}