adf-sales-analytics-dev-brs/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-sales-analytics-dev-brs"
		},
		"ls_adls_sales_dev_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_sales_dev'"
		},
		"ls_adls_sales_dev_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stsaleslhdevbrs01.dfs.core.windows.net/"
		},
		"ls_http_sales_dev_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"ls_keyvault_dev_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvsalesdevbrs.vault.azure.net/"
		},
		"ls_sql_sales_dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-sales-dev-brs.database.windows.net"
		},
		"ls_sql_sales_dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb_sales_source_dev"
		},
		"ls_sql_sales_dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin_dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_sales_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_sales_dev_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_sales_dev_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_http_sales_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_http_sales_dev_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyvault_dev_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_brz_sales_sql_inc_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_sales_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_directory": {
						"type": "string"
					},
					"p_file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_directory",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_sales_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_github_sales_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_http_sales_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "anshlambagit/Azure-DE-Project-Resources/refs/heads/main/Raw%20Data/@{dataset().p_file_name}",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_http_sales_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_sales_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_sales_dev_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_sales_dev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_sales_dev_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "sql-password-dev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_sql_sales_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_sales_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Branch_ID",
						"type": "varchar"
					},
					{
						"name": "Dealer_ID",
						"type": "varchar"
					},
					{
						"name": "Model_ID",
						"type": "varchar"
					},
					{
						"name": "Revenue",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Units_Sold",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Date_ID",
						"type": "varchar"
					},
					{
						"name": "Day",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchName",
						"type": "varchar"
					},
					{
						"name": "DealerName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_sales_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_brz_sales_from_sql_inc_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_lkp_last_watermark_sql",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetWatermark]",
								"storedProcedureParameters": {
									"source_table": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.p_source_table",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_sql_sales_dev",
								"type": "DatasetReference",
								"parameters": {
									"table_name": {
										"value": "@pipeline().parameters.p_source_table",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "act_lkp_current_watermark_sql",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "act_lkp_last_watermark_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(Date_ID) AS current_watermark\nFROM @{pipeline().parameters.p_source_table}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_sql_sales_dev",
								"type": "DatasetReference",
								"parameters": {
									"table_name": {
										"value": "@pipeline().parameters.p_source_table",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "act_fail_last_watermark_lookup",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "act_lkp_last_watermark_sql",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Watermark lookup failed.",
							"errorCode": "WATERMARK_ERROR"
						}
					},
					{
						"name": "act_fail_current_watermark_lookup",
						"type": "Fail",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "act_lkp_current_watermark_sql",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Watermark lookup failed.",
							"errorCode": "WATERMARK_ERROR"
						}
					},
					{
						"name": "act_if_new_data_exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "act_lkp_current_watermark_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(\n activity('act_lkp_current_watermark_sql').output.firstRow.current_watermark,\n activity('act_lkp_last_watermark_sql').output.firstRow.last_watermark_value\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "act_set_no_new_data_status",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_run_status",
										"value": {
											"value": "'NO_NEW_DATA'",
											"type": "Expression"
										}
									}
								},
								{
									"name": "act_sp_log_pipeline_status",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "act_set_no_new_data_status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_LogRun]",
										"storedProcedureParameters": {
											"error_message": {
												"value": {
													"value": "NULL",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_table": {
												"value": {
													"value": "@pipeline().parameters.p_source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "'NO_NEW_DATA'",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_sales_dev",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "act_copy_sql_to_brz_sales_inc",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT *\nFROM @{pipeline().parameters.p_source_table}\nWHERE @{pipeline().parameters.p_watermark_column} > \n'@{activity('act_lkp_last_watermark_sql').output.firstRow.last_watermark_value}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_stg_sql_sales_dev",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@pipeline().parameters.p_source_table",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_brz_sales_sql_inc_dev",
											"type": "DatasetReference",
											"parameters": {
												"p_directory": {
													"value": "@concat('incremental')",
													"type": "Expression"
												},
												"p_file_name": {
													"value": "@concat(\n  activity('act_lkp_current_watermark_sql').output.firstRow.current_watermark,\n  '.parquet'\n)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "act_sp_update_watermark_sales",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "act_copy_sql_to_brz_sales_inc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpdateWatermark]",
										"storedProcedureParameters": {
											"new_watermark_value": {
												"value": {
													"value": "@activity('act_lkp_current_watermark_sql').output.firstRow.current_watermark",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@pipeline().parameters.p_source_table",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_sales_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "act_sp_prepare_load_metadata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "act_sp_update_watermark_sales",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_LogRun]",
										"storedProcedureParameters": {
											"error_message": {
												"value": {
													"value": "NULL",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "@activity('act_copy_sql_to_brz_sales_inc').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_table": {
												"value": {
													"value": "@pipeline().parameters.p_source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "'SUCCESS'",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_sales_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "act_fail_copy_sql_to_brz_sales_inc",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "act_sp_log_run_failed",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('COPY FAILED - ', pipeline().Pipeline)",
											"type": "Expression"
										},
										"errorCode": "COPY_FAILED"
									}
								},
								{
									"name": "act_sp_log_run_failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "act_copy_sql_to_brz_sales_inc",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_LogRun]",
										"storedProcedureParameters": {
											"error_message": {
												"value": {
													"value": "@activity('act_copy_sql_to_brz_sales_inc').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_table": {
												"value": {
													"value": "@pipeline().parameters.p_source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "'FAILED'",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_sales_dev",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_source_table": {
						"type": "string",
						"defaultValue": "source_cars_data"
					},
					"p_watermark_column": {
						"type": "string",
						"defaultValue": "Date_ID"
					}
				},
				"variables": {
					"v_run_status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_sql_sales_dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_sales_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_brz_sales_sql_inc_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_stg_sales_from_github_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_copy_github_to_stg_sales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Branch_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Branch_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Dealer_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dealer_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Model_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Revenue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Revenue",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Units_Sold",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Units_Sold",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Date_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Day",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DealerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DealerName",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_github_sales_dev",
								"type": "DatasetReference",
								"parameters": {
									"p_file_name": "SalesData.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_sql_sales_dev",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "source_cars_data"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "staging"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_src_github_sales_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_sql_sales_dev')]"
			]
		}
	]
}